:root {
  --main-color: #cc0202;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #f5f5f5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869;
}

.app.active-sidebar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  color: var(--secondary-color);
  background: var(--main-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 5;
}

.app.dark-theme .header {
  color: var(--secondary-color);
  background: #690000;
}

.header .menu-button {
  z-index: 5;
}

.menu-button {
  margin-left: 10px;
}

.menu-icon {
  width: 100%;
  vertical-align: middle;
}

.header-menu-icon {
  left: 0;
  position: absolute;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.message {
  padding: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.visitor {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.inner-message {
  word-wrap: break-word;
  width: 40%;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #dae1e7;
}

.app.dark-theme .inner-message {
  color: white;
}

.visitor .inner-message {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border-top-right-radius: 2px;
  background-color: #dae1e7;
  color: #000000;
}

.app.dark-theme .visitor .inner-message {
  background-color: #909497;
}

.chatbot .inner-message {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border-top-left-radius: 2px;
  background-color: rgb(216, 186, 186);
  color: #000000;
}

.app.dark-theme .chatbot .inner-message {
  background-color: rgb(143 123 123);
}

@media screen and (min-width: 700px) {
  .inner-message {
    width: 285px;
  }
}

.message-list {
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: white;
}

.app.dark-theme .message-list {
  background: rgb(34, 34, 34);
}

.message-list ul {
  padding-inline-start: 0px;
}

.send-message-form {
  background: var(--send-message-form);
  display: flex;
  box-sizing: border-box;
  height: 100px;
}

.app.dark-theme .send-message-form {
  background: #424242;
}

.send-message-form input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  margin: 0;
  background: var(--send-message-form);
  font-weight: 400;
  font-size: 16px;
}

.app.dark-theme .send-message-form input {
  background: #424242;
  color: white;
}

.app.dark-theme .send-message-form input::-webkit-input-placeholder {
  color: rgb(155, 155, 155);
}
.app.dark-theme .send-message-form input::-moz-placeholder {
  color: rgb(155, 155, 155);
}
.app.dark-theme .send-message-form input:-ms-input-placeholder {
  color: rgb(155, 155, 155);
}
.app.dark-theme .send-message-form input:-moz-placeholder {
  color: rgb(155, 155, 155);
}

.send-message-form input:focus {
  outline-width: 0;
}

.submit-button {
  background-color: rgb(230, 230, 230);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  width: 100px;
  margin: 5px 20px;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.app.dark-theme .submit-button {
  background: rgb(88 87 87);
  color: #eee7d8;
}

.submit-button:hover {
  background-color: rgb(224, 224, 224);
}

.app.dark-theme .submit-button:hover {
  background: rgb(112, 112, 112);
}

.submit-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.submit-button:focus-visible {
  box-shadow: none;
}
